.calendar-app {
  flex-direction: column;
  .calendar {
    margin-block-start: rem(20px);
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 5px;
    margin-block-start: rem(20px);
    color: $clrB;

    h3 {
      font-size: rem(12px);
      text-align: center;
      text-transform: capitalize;
    }
  }
  .calendar-header {
    color: $clrP;
    justify-content: space-between;
    margin-block: rem(22px);
    h2 {
      color: $clrP;
    }
  }
  .day-tile {
    padding: rem(8px);
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: rem(14px);
    transition: ease-in-out 0.25s;
    flex-direction: column;
    .ev-title {
      font-size: rem(8px);
      color: $clrP;
    }
    &:hover {
      background-color: lighten($clrP, $amount: 10%);
    }
  }
  @media screen and(min-width:$mobile-breakpoint) {
    .calendar {
      gap: 10px;
      .day-tile {
        padding: rem(5px);
        font-size: rem(18px);
        .ev-title {
          font-size: rem(8px);
          color: $clrP;
        }
      }
    }
  }
}
