.calender-app {
  flex-direction: column;
  .calender {
    margin-block-start: rem(20px);
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 5px;
    margin-block-start: rem(20px);
    color: $clrB;

    h3 {
      font-size: rem(12px);
      text-align: center;
      text-transform: capitalize;
    }
  }
  .calender-header {
    color: $clrP;
    justify-content: space-between;
    margin-block: rem(22px);
    h2 {
      color: $clrP;
    }
  }
  .day-tile {
    padding: rem(12px);
    cursor: pointer;
    transition: ease-in-out 0.25s;
    &:hover {
      background-color: lighten($clrG, $amount: 10%);
    }
  }
  @media screen and(min-width:$mobile-breakpoint) {
    .calender {
      gap: 10px;
      h3 {
        font-size: 14px;
      }
    }
  }
}
