@font-face {
  font-family: Mons-Bold;
  src: url(../../font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Mons-Regular;
  src: url(../../font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Mons-SemiBold;
  src: url(../../font/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Mons-Light;
  src: url(../../font/Montserrat-Light.ttf);
}
