// Colors
$clrW: #fbfbfb;
$clrB: #191011;
$clrP: #a513d8;

//Box shadows
$boxShadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 700px;
$normal-breakpoint: 1050px;
